/*  colors  */
/*  font-size  */
@font-face {
  font-family: "TT Lakes";
  font-weight: 400;
  font-style: normal;
  src: local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("ttf"); }

@font-face {
  font-family: "TT Lakes";
  font-weight: 700;
  font-style: normal;
  src: local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("ttf"); }

@font-face {
  font-family: "TT Lakes";
  font-weight: 500;
  font-style: normal;
  src: local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("ttf"); }

.read-more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  z-index: 40; }
  .read-more__open img {
    transform: rotate(180deg); }

.aside-left {
  position: relative;
  left: -100%;
  transition: left 0.5s linear;
  box-shadow: none;
  z-index: 2; }
  .aside-left__visible {
    left: 0; }
  @media (min-width: 1120px) {
    .aside-left {
      left: 0;
      transition: left 0.3s linear; } }
  .aside-left__pop-up {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 2; }
    @media (min-width: 400px) {
      .aside-left__pop-up {
        width: 320px;
        box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2); } }
    @media (min-width: 1120px) {
      .aside-left__pop-up {
        box-shadow: none; } }
  .aside-left__footer__contacts {
    display: flex;
    justify-content: flex-start;
    gap: 16px; }
  .aside-left__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 24px 24px 32px 24px;
    gap: 12px; }
    .aside-left__footer a {
      background-color: #FFFFFF;
      font-weight: 500;
      line-height: 24px; }
    .aside-left__footer__tel {
      font-weight: 700;
      font-size: 24px; }

.aside-tell {
  position: absolute;
  left: 200%;
  transition: left 0.5s linear;
  z-index: 3;
  height: 100vh;
  width: 320px;
  display: none; }
  .aside-tell__visible {
    left: calc(100% - 320px);
    display: block; }
    @media (min-width: 520px) {
      .aside-tell__visible {
        left: calc(100% - 440px); } }
  .aside-tell__pop-up {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 320px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: -16px 0 52px 0 rgba(14, 24, 80, 0.2);
    z-index: 3;
    padding: 16px; }
    @media (min-width: 520px) {
      .aside-tell__pop-up {
        width: 440px;
        padding: 32px; } }
  .aside-tell__highlight {
    top: 106px; }
    @media (min-width: 520px) {
      .aside-tell__highlight {
        top: 32px; } }
  .aside-tell__title {
    display: block;
    color: #1B1C21;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 104px;
    margin-bottom: 24px;
    background-color: inherit; }
    @media (min-width: 520px) {
      .aside-tell__title {
        margin-top: 16px; } }
  .aside-tell form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: inherit; }
    .aside-tell form input {
      width: 288px;
      height: 48px;
      margin-bottom: 16px;
      border-radius: 8px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      padding-left: 16px; }
      @media (min-width: 520px) {
        .aside-tell form input {
          width: 376px; } }
    .aside-tell form textarea {
      border-radius: 8px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      width: 288px;
      height: 118px;
      margin-bottom: 16px;
      padding-left: 16px; }
      @media (min-width: 520px) {
        .aside-tell form textarea {
          width: 376px; } }
  .aside-tell__description {
    color: #7E7E82;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    width: 288px;
    margin-bottom: 16px; }
    @media (min-width: 520px) {
      .aside-tell__description {
        width: 376px; } }
    .aside-tell__description span {
      color: #FF3E79;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; }
  .aside-tell__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 12px;
    background-color: #FF3E79;
    border-radius: 50px;
    width: 119px;
    align-self: flex-end;
    margin-right: 16px; }
    @media (min-width: 520px) {
      .aside-tell__button {
        margin-right: 46px; } }
    .aside-tell__button span {
      color: #FFF;
      text-align: right;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }

.aside-settings {
  position: absolute;
  left: 200%;
  transition: left 0.5s linear;
  z-index: 3;
  height: 100vh;
  width: 320px;
  display: none; }
  .aside-settings__visible {
    display: block;
    left: calc(100% - 320px); }
    @media (min-width: 520px) {
      .aside-settings__visible {
        left: calc(100% - 440px); } }
  .aside-settings__pop-up {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 320px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: -16px 0 52px 0 rgba(14, 24, 80, 0.2);
    z-index: 3;
    padding: 16px; }
    @media (min-width: 520px) {
      .aside-settings__pop-up {
        width: 440px;
        padding: 32px; } }
  .aside-settings__highlight {
    top: 106px; }
    @media (min-width: 520px) {
      .aside-settings__highlight {
        top: 32px; } }
  .aside-settings__title {
    display: block;
    color: #1B1C21;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 104px;
    margin-bottom: 24px;
    background-color: inherit; }
    @media (min-width: 520px) {
      .aside-settings__title {
        margin-top: 16px; } }
  .aside-settings form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: inherit; }
    .aside-settings form input {
      width: 288px;
      height: 48px;
      margin-bottom: 16px;
      border-radius: 8px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      padding-left: 16px; }
      @media (min-width: 520px) {
        .aside-settings form input {
          width: 376px; } }
  .aside-settings__description {
    color: #7E7E82;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    width: 288px;
    margin-bottom: 16px; }
    @media (min-width: 520px) {
      .aside-settings__description {
        width: 376px; } }
    .aside-settings__description span {
      color: #FF3E79;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; }
  .aside-settings__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 12px;
    background-color: #FF3E79;
    border-radius: 50px;
    width: 119px;
    align-self: flex-end;
    margin-right: 16px; }
    @media (min-width: 520px) {
      .aside-settings__button {
        margin-right: 46px; } }
    .aside-settings__button span {
      color: #FFF;
      text-align: right;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }

.aside-menu {
  display: flex;
  flex-direction: column; }
  .aside-menu__header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px; }
  .aside-menu__header_left {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: inherit; }
  .aside-menu__nav {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    align-items: stretch;
    background-color: #FFFFFF; }
    @media (min-width: 1120px) {
      .aside-menu__nav {
        padding-top: 50px; } }
  .aside-menu__item:not(:last-child) {
    background-color: #FFFFFF;
    margin-bottom: 32px; }
  .aside-menu__item:hover {
    transition: all  0.2s ease-in-out;
    color: #7E7E82; }
  .aside-menu__item {
    background-color: inherit;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer; }
  .aside-menu__item:first-child {
    color: #7E7E82; }
  .aside-menu__search:hover {
    transition: all  0.5s ease-in-out;
    transform: translateX(-50px);
    opacity: 0; }
  .aside-menu__logo {
    fill: #80949F;
    stroke: #80949F; }
  .aside-menu__logo:hover {
    transition: all  0.5s;
    fill: #FF3E79;
    stroke: #FF3E79; }
  .aside-menu__item:first-child {
    color: #7E7E82; }
  .aside-menu__contacts button {
    margin-right: 16px; }
  @media (min-width: 1120px) {
    .aside-menu__burger {
      display: none; } }

.fog-of-war-left {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  display: none; }
  .fog-of-war-left__visible {
    display: block;
    opacity: 0.9;
    /*
    transition: opacity 1s linear 0.8s;
    */
    z-index: 1; }
  @media (min-width: 1120px) {
    .fog-of-war-left {
      display: none; } }

.fog-of-war-right {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  opacity: 0;
  top: 0;
  display: none; }
  .fog-of-war-right__visible {
    display: block;
    opacity: 0.9;
    /*
      transition: opacity 0.5s linear 0.8s;
      */
    z-index: 2; }

.aside-menu {
  display: flex;
  flex-direction: column; }
  .aside-menu__header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px; }
  .aside-menu__header_left {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: inherit; }
  .aside-menu__nav {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    align-items: stretch;
    background-color: #FFFFFF; }
    @media (min-width: 1120px) {
      .aside-menu__nav {
        padding-top: 50px; } }
  .aside-menu__item:not(:last-child) {
    background-color: #FFFFFF;
    margin-bottom: 32px; }
  .aside-menu__item:hover {
    transition: all  0.2s ease-in-out;
    color: #7E7E82; }
  .aside-menu__item {
    background-color: inherit;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer; }
  .aside-menu__item:first-child {
    color: #7E7E82; }
  .aside-menu__search:hover {
    transition: all  0.5s ease-in-out;
    transform: translateX(-50px);
    opacity: 0; }
  .aside-menu__logo {
    fill: #80949F;
    stroke: #80949F; }
  .aside-menu__logo:hover {
    transition: all  0.5s;
    fill: #FF3E79;
    stroke: #FF3E79; }
  .aside-menu__item:first-child {
    color: #7E7E82; }
  .aside-menu__contacts button {
    margin-right: 16px; }
  @media (min-width: 1120px) {
    .aside-menu__burger {
      display: none; } }

.header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  vertical-align: center;
  padding: 24px 0 16px 16px;
  border-bottom: 1px solid #D9FFF5;
  background: #FFF; }
  .header__left {
    display: flex;
    justify-content: space-between;
    width: 172px;
    vertical-align: center;
    background: #FFF; }
  .header__right {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    background: #FFF; }
    @media (max-width: 1120px) {
      .header__right {
        margin-right: 16px; } }
    .header__right span {
      display: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      margin-right: 8px;
      background: #FFF; }
  .header__right_visible {
    display: none;
    background-color: #F8F8F8; }
    .header__right_visible span {
      background-color: #F8F8F8; }
      @media (min-width: 1120px) {
        .header__right_visible span {
          display: block; } }
    @media (min-width: 1120px) {
      .header__right_visible {
        display: flex; } }
  .header__visible {
    display: flex;
    justify-content: space-between;
    vertical-align: center; }
  .header__middle {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    vertical-align: center; }
    @media (max-width: 768px) {
      .header__middle {
        display: none; } }
    @media (min-width: 768px) {
      .header__middle {
        display: flex; } }
  .header__vertical-line {
    width: 2px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #EAEAEA;
    padding: 0;
    margin: auto 0 auto 0; }
  .header__vertical-line_right,
  .header__right button:not(:last-child) {
    margin-right: 16px; }
  @media (min-width: 768px) {
    .header__vertical-line_left {
      order: 2; }
    .header__logo {
      order: 3; } }
  @media (min-width: 1120px) {
    .header {
      display: none; } }

.menu-wrapper {
  width: 100%;
  margin-bottom: 16px; }
  .menu-wrapper__fade-right {
    right: 16px;
    width: 24px;
    height: 40px;
    z-index: 2; }

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 10px 0;
  overflow-x: scroll; }
  .menu__item {
    margin-right: 25px;
    margin-left: 0; }
    .menu__item a {
      text-decoration: none;
      color: #7E7E82;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px; }
      .menu__item a:active {
        background-color: #FFF; }
    .menu__item:last-child a {
      margin-right: 0; }
    .menu__item:active {
      border-radius: 6px;
      border: 2px solid #B8FFEC;
      background-color: #FFF;
      padding: 6px 16px 6px 16px; }
  @media (min-width: 1120px) {
    .menu {
      justify-content: flex-start; } }

main {
  position: relative;
  z-index: 0; }
  @media (min-width: 1120px) {
    main {
      margin-left: 320px; } }

.lang {
  background-color: inherit; }
  .lang a:first-child {
    color: #7E7E82; }
  @media (min-width: 1120px) {
    .lang {
      padding-top: 40px; } }

.settings {
  display: flex;
  flex-direction: row;
  align-items: center; }

.search {
  display: flex;
  flex-direction: row;
  align-items: center; }

.contacts {
  background: #FFF; }

.banner {
  margin-bottom: 50px;
  padding-left: 16px;
  padding-right: 16px; }

.description {
  display: flex;
  flex-direction: column; }
  .description__text {
    margin-bottom: 16px;
    margin-right: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; }
  .description__other-text {
    display: block;
    margin-top: 10px; }
    @media (max-width: 768px) {
      .description__other-text {
        display: none; } }
    @media (min-width: 768px) {
      .description__other-text {
        display: block; } }
  .description__container {
    display: flex;
    flex-direction: column; }
  .description__open {
    display: block; }
  .description__img {
    width: 100%;
    height: 176px;
    background-image: url(./static/banner.png);
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .description__img {
        min-height: 280px; } }
    @media (min-width: 1120px) {
      .description__img {
        min-height: 307px; } }
  @media (min-width: 768px) {
    .description {
      flex-direction: row; } }

.highlight {
  position: absolute;
  left: 0; }

.companies {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  gap: 16px;
  margin-top: 16px; }
  .companies__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    width: 240px;
    height: 72px;
    padding: 16px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .companies__item {
        margin-bottom: 0; } }
    .companies__item img {
      max-width: 130px;
      max-height: 52px; }
  @media (min-width: 768px) {
    .companies {
      display: grid;
      grid-template-columns: repeat(3, 240px);
      grid-template-rows: repeat(4, 1fr);
      height: 170px;
      overflow: hidden; } }
  @media (min-width: 1440px) {
    .companies {
      grid-template-columns: repeat(4, 240px);
      grid-template-rows: repeat(3, 1fr); } }
  @media (min-width: 768px) {
    .companies__open {
      height: 100%; } }

.brands {
  margin-bottom: 50px;
  position: relative; }
  .brands__fade {
    content: "";
    position: absolute;
    height: 100px;
    width: 24px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
    right: 0;
    z-index: 15; }
  .brands__read-more {
    display: none;
    margin-left: 16px;
    margin-top: 16px; }
    @media (min-width: 768px) {
      .brands__read-more {
        display: flex; } }

.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  z-index: 3; }
  @media (min-width: 767px) {
    .swiper-pagination {
      display: none; } }
  .swiper-pagination__prices {
    margin-bottom: 16px; }

.equipment-repair {
  margin-bottom: 50px; }
  .equipment-repair__read-more {
    display: none;
    margin-left: 16px; }
    @media (min-width: 768px) {
      .equipment-repair__read-more {
        display: flex; } }

.technique {
  display: flex;
  gap: 16px;
  padding: 16px; }
  @media (min-width: 768px) {
    .technique {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      overflow: hidden;
      height: 150px; } }
  .technique__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    min-width: 224px;
    height: 160px;
    padding: 16px; }
    @media (min-width: 768px) {
      .technique__item {
        width: 224px; } }
    .technique__item p {
      background-color: #FFF;
      font-weight: 500; }
  .technique__read-more {
    display: none;
    margin-left: 16px; }
  .technique__item-open {
    align-self: flex-end; }
  .technique__open {
    height: 100%; }

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  max-width: 100%;
  justify-content: flex-start; }
  .title__highlight {
    position: absolute;
    left: 0; }

@media (min-width: 767px) {
  .prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; } }

.prices__wrapper {
  display: flex;
  gap: 16px;
  padding: 0 16px 0 16px;
  margin-right: 16px; }
  @media (min-width: 767px) {
    .prices__wrapper {
      background-color: #FFF;
      border-radius: 6px;
      margin: 0 16px 24px 0;
      gap: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative; } }

.prices__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFF;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  min-width: 200px;
  height: 200px;
  padding: 16px;
  position: relative;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .prices__item {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr;
      align-items: center;
      height: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #EAEAEA;
      position: relative;
      padding: 16px 0;
      background-color: transparent;
      margin-bottom: 0; } }

@media (min-width: 768px) {
  .prices__item:last-child {
    border: none; } }

.prices__description {
  display: block;
  color: #1B1C21;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  padding: 0;
  margin-top: -16px;
  vertical-align: middle; }
  @media (min-width: 768px) {
    .prices__description {
      margin-top: 0; } }

.prices__title {
  display: block;
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.7;
  padding: 0; }
  @media (min-width: 768px) {
    .prices__title {
      display: none; } }
  .prices__title--first {
    display: none; }
    @media (min-width: 768px) {
      .prices__title--first {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        margin-left: 16px;
        padding: 16px;
        background-color: transparent;
        color: #7E7E82;
        opacity: 0.7;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; } }

.prices__order {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 12px;
  background-color: #FF3E79;
  border-radius: 50px;
  width: 119px; }
  @media (min-width: 768px) {
    .prices__order {
      position: static;
      margin-right: 16px; } }
  .prices__order span {
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 200% */
    letter-spacing: -0.15px;
    text-transform: uppercase; }

.prices__nds {
  margin-bottom: 16px;
  margin-left: 16px;
  max-width: 421px; }

.prices__offer {
  color: #1B1C21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
  margin-left: 16px; }
  .prices__offer span {
    display: flex;
    justify-content: center;
    align-items: center; }
  .prices__offer svg {
    height: 27px;
    margin: 0; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: 147px;
  opacity: 0.7;
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-top: 2px solid #D9FFF5;
  padding: 16px 16px 19px 16px;
  margin-top: 40px;
  position: relative;
  z-index: 0; }
  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 85px; } }
  @media (min-width: 1120px) {
    .footer {
      margin-left: 320px; } }
  .footer__1 {
    text-align: center; }
    @media (min-width: 768px) {
      .footer__1 {
        text-align: left;
        width: 33.33%; } }
  .footer__2 {
    text-align: center; }
    @media (min-width: 768px) {
      .footer__2 {
        width: 33.33%; } }
  .footer__3 {
    text-align: center; }
    @media (min-width: 768px) {
      .footer__3 {
        text-align: right;
        width: 33.33%; } }

@media (min-width: 768px) {
  .swiper-prices {
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 0; } }

.fade {
  background: linear-gradient(270deg, #F8F8F8 0.04%, rgba(248, 248, 248, 0) 100%);
  position: absolute; }

.tell-close {
  position: absolute;
  top: 32px;
  left: 16px; }
  @media (min-width: 520px) {
    .tell-close {
      left: -72px; } }

.settings-close {
  position: absolute;
  top: 32px;
  left: 16px; }
  @media (min-width: 520px) {
    .settings-close {
      left: -72px; } }

.section-title {
  display: block;
  padding: 16px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFF 98.61%);
  color: #7E7E82;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  margin-bottom: 24px;
  border-top: 2px solid #D9FFF5; }

* {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  margin: 0;
  background: #F8F8F8;
  color: #1B1C21;
  text-decoration: none;
  scrollbar-width: none; }

::-webkit-scrollbar,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb:vertical {
  width: 0;
  height: 0; }

li {
  list-style: none; }

ul,
p {
  padding: 0;
  background-color: inherit; }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

svg,
img,
a,
span {
  background: transparent; }

h1 {
  justify-content: flex-start;
  color: #1B1C21;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px; }

h3 {
  background-color: inherit; }


/*# sourceMappingURL=style.css.map*/