.fog-of-war-right {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    top: 0;

    &__visible {
      opacity: 0.9;
      transition: opacity 1s, linear 0.8s;
      z-index: 2;
    }

  }
