.fog-of-war-left {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  display: none;

  &__visible {
    display: block;
    opacity: 0.9;
    /*
    transition: opacity 1s linear 0.8s;
    */
    z-index: 1;
  }

  @media (min-width: 1120px) {
    display: none;
  }
}
