.fog-of-war-right {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    opacity: 0;
    top: 0;
    display: none;

    &__visible {
      display: block;
      opacity: 0.9;
      /*
      transition: opacity 0.5s linear 0.8s;
      */
      z-index: 2;
    }

  }
