.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 10px 0;
  overflow-x: scroll;

  &__item {
    margin-right: 25px;
    margin-left: 0;

    a{
      text-decoration: none;
      color: $clr-grey;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;

      &:active{
        background-color: #FFF;
      }
    }

    &:last-child{
      a {
        margin-right: 0;
      }
    }

    &:active {
      border-radius: 6px;
      border: 2px solid $clr-border;
      background-color: #FFF;
      padding: 6px 16px 6px 16px;
    }

  }

  @media (min-width: 1120px) {
    justify-content: flex-start;
  }

}
