.read-more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  z-index: 40;

  &__open {
    img {
      transform: rotate(180deg);
    }
  }
}


