.swiper-pagination {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    z-index: 3;

    @media (min-width: 767px) {
      display: none;
    }

  &__prices {
    margin-bottom: 16px;
  }

}
