.technique {
  display: flex;
  gap: 16px;
  padding: 16px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    height: 150px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    min-width: 224px;
    height: 160px;
    padding: 16px;
    @media (min-width: 768px) {
      width: 224px;
    }

    p {
      background-color: #FFF;
      font-weight: 500;
    }

  }

  &__read-more {
    display: none;
    margin-left: 16px;
  }

  &__item-open {
    align-self: flex-end;
  }

  &__open {
    height: 100%;
  }


}

