/*  colors  */

$clr-bg: #FFFFFF !global;
$clr-bg-grey: #F8F8F8 !global;
$clr-pink: #FF3E79 !global;
$clr-dark: #1B1C21 !global;
$clr-grey: #7E7E82 !global;
$clr-border: #B8FFEC !global;
$clr-h2: #D9FFF5 !global;

/*  font-size  */

$fs-14: 14px !global;
$fs-16: 16px !global;
$fs-24: 24px !global;
$fs-28: 28px !global;
